@use '../util' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-style: normal;
  font-weight: normal;
}

html,
body {
  margin: 0px auto;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: normal;
  font-size: var(--fs-small);
  line-height: 1.6;
  position: relative;
  height: 100vh;
  transition: var(--transition);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
