@use '../util' as *;

.card {
  &--container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .card:not(:last-child) {
      margin-bottom: rem(12);

      @include breakpoint(medium) {
        margin-bottom: var(--sp-24);
      }
    }
  }

  display: flex;
  align-items: center;
  position: relative;
  gap: var(--sp-16);
  width: 100%;
  margin: 0;
  padding: rem(9);
  height: var(--sp-64);
  background-color: var(--background-card);
  color: var(--text-color);
  border: 3px solid transparent;
  border-radius: rem(12);
  box-shadow: 0px 16px 40px 0px var(--card-shadow);
  text-decoration: none;
  line-height: 100%;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: var(--card-icon-bg);
    color: var(--card-icon-text);
    font-size: rem(18);
    font-weight: 500;
    text-transform: capitalize;
    height: var(--sp-40);
    width: var(--sp-40);
    border-radius: rem(6);

    img {
      display: block;
      height: rem(28.571);
      width: rem(28.571);
    }

    &--success {
      height: var(--sp-32);
      width: var(--sp-32);
      margin-left: auto;
    }

    &--fail {
      height: var(--sp-32);
      width: var(--sp-32);
      margin-left: auto;
    }
  }

  &__text {
    font-size: rem(18);
    line-height: 100%;
  }

  &--selected {
    border-color: var(--clr-purple-600);

    .card__icon {
      background-color: var(--clr-purple-600);
      color: var(--clr-white);
    }

    &:hover {
      .card__icon {
        background-color: var(--clr-purple-600) !important;
        color: var(--clr-white) !important;
      }
    }
  }

  &--success {
    border-color: var(--clr-success);

    .card__icon {
      background-color: var(--clr-success);
      color: var(--clr-white);
    }

    &:hover {
      .card__icon {
        background-color: var(--clr-success) !important;
        color: var(--clr-white) !important;
      }
    }
  }

  &--fail {
    border-color: var(--clr-fail);

    .card__icon {
      background-color: var(--clr-fail) !important;
      color: var(--clr-white) !important;
    }

    &:hover {
      .card__icon {
        background-color: var(--clr-fail);
        color: var(--clr-white);
      }
    }
  }

  @include breakpoint(medium) {
    border-radius: var(--sp-24);
    border: 2px solid transparent;
    height: rem(80);
    gap: var(--sp-32);

    &__icon {
      height: rem(56);
      width: rem(56);
      border-radius: rem(12);
      font-size: rem(28);

      img {
        height: var(--sp-40);
        width: var(--sp-40);
      }

      &--success {
        height: var(--sp-40);
        width: var(--sp-40);
        margin-left: auto;
      }

      &--fail {
        height: var(--sp-40);
        width: var(--sp-40);
        margin-left: auto;
      }
    }

    &__text {
      font-size: rem(28);
    }
  }

  @include breakpoint(large) {
    padding: rem(20);
    height: rem(92);
    max-width: rem(524);
  }

  &:hover {
    cursor: pointer;
    border-color: var(--clr-purple-600);

    .card__icon {
      color: var(--clr-white);
      transition: var(--transition);
      background-color: var(--clr-purple-600);
    }
  }

  &__results {
    height: auto;
    padding: var(--sp-32);
    gap: var(--sp-16);
    flex-direction: column;

    &--header {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: rem(18);
      gap: var(--sp-16);

      .card__icon {
        background-color: #f6e7ff;
      }
    }

    &--body {
      text-align: center;
      h2 {
        font-weight: 500;
        font-size: rem(88);
        line-height: 100%;
        margin-bottom: var(--sp-16);
      }

      p {
        font-size: rem(18);
        line-height: 100%;
        color: var(--subtext-color);
      }
    }

    @include breakpoint(medium) {
      padding: var(--sp-48);
      gap: var(--sp-64);

      &--header {
        font-size: rem(28);
        gap: var(--sp-24);
      }

      h2 {
        font-size: var(--sp-144);
      }

      p {
        font-size: var(--sp-24);
      }
    }
  }
}
