@use '../util' as *;

.quiz {
  &__step {
    margin-bottom: rem(12);
    color: var(--subtext-color);
    font: var(--text-preset-6);
  }

  &__question {
    font-size: rem(20);
    color: var(--text-color);
    font-weight: var(--fw-bold);
    line-height: 120%;
    margin-bottom: var(--sp-24);
    font: var(--text-preset-3);
  }

  &__btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: rem(12);
    height: rem(56);
    padding: rem(12);
    font-size: rem(18);
    font-weight: 500;
    line-height: 100%;
    margin-top: rem(12);
    background-color: var(--clr-purple-600);
    color: var(--clr-white);
    width: 100%;
    box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
    transition: var(--transition);
    text-decoration: none;

    &:hover {
      opacity: 0.6;
    }

    &:disabled {
      background-color: var(--clr-purple-500);
      cursor: not-allowed;

      &:hover {
        opacity: 1;
      }
    }
  }

  @include breakpoint(medium) {
    &__step {
      margin-bottom: rem(27);
    }

    &__question {
      font-size: rem(36);
      margin-bottom: var(--sp-40);
    }

    &__btn {
      height: rem(80);
      margin-top: var(--sp-32);
      padding: var(--sp-32);
      border-radius: var(--sp-24);
      font-size: rem(28);
    }
  }

  @include breakpoint(large) {
    &__question {
      font-size: rem(36);
    }

    &__btn {
      height: rem(92);
      margin-top: var(--sp-32);
      padding: var(--sp-32);
      border-radius: var(--sp-24);
      font-size: rem(28);
    }
  }
}

.msg {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: rem(12) 0;
  gap: var(--sp-8);
  font-size: rem(18);
  font-weight: 400;
  line-height: 100%;

  img {
    height: var(--sp-32);
    width: var(--sp-32);
  }

  &--error {
    color: var(--clr-fail);
  }

  @include breakpoint(medium) {
    margin: var(--sp-32) 0;
    font-size: var(--sp-24);

    img {
      height: var(--sp-40);
      width: var(--sp-40);
    }
  }
}
