@use '../util' as *;

.toggler {
  display: flex;
  align-items: center;
  margin-left: auto;

  svg {
    display: block;
    height: var(--sp-16);
    width: var(--sp-16);

    @include breakpoint(medium) {
      height: var(--sp-24);
      width: var(--sp-24);
    }
  }
}

.toggle {
  &__container {
    display: flex;
    align-items: center;
    width: auto;

    .label {
      position: relative;
      background-color: var(--clr-purple-600);
      border-radius: 50px;
      cursor: pointer;
      display: inline-block;
      margin-inline: var(--sp-8);
      padding: rem(4);
      width: var(--sp-32);
      height: rem(20);
    }

    .ball {
      background-color: var(--clr-white);
      height: rem(12);
      width: rem(12);
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      animation: slideOffSm 0.3s linear forwards;
    }

    @include breakpoint(medium) {
      .label {
        margin-inline: var(--sp-16);
        width: var(--sp-48);
        height: rem(28);
      }

      .ball {
        height: rem(20);
        width: rem(20);
        animation: slideOff 0.3s linear forwards;
      }
    }
  }

  &.dark + .label .ball {
    animation: slideOnSm 0.3s linear forwards;

    @include breakpoint(medium) {
      animation: slideOn 0.3s linear forwards;
    }
  }
}

@keyframes slideOnSm {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(12px);
  }
}

@keyframes slideOffSm {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOn {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(20px);
  }
}

@keyframes slideOff {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
